<div class="fixed-header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div fxFlex="30%">
        <button mat-raised-button class="nav-button" routerLink="/home" routerLinkActive="active">
          {{'home' | translate}}
        </button>
        <button mat-raised-button class="nav-button test" routerLink="/events" routerLinkActive="active">
          {{'events' | translate}}
        </button>
      </div>

      <span class="spacer"></span>

      <div fxFlex="30%" *ngIf="!currentUser.username">
        <button mat-raised-button class="nav-button" routerLink="/login" routerLinkActive="active">
          <i class="fa fa-sign-in"></i>
          {{'login' | translate}}
        </button>
        <button mat-raised-button class="nav-button" routerLink="/register" routerLinkActive="active">
          <i class="fa fa-user-plus"></i>
          {{'register' | translate}}
        </button>
      </div>

      <div fxFlex="30%" *ngIf="currentUser.username">
        <span class="nav-button" [matMenuTriggerFor]="userMenu">
          <i class="fa fa-user-circle-o"></i>
          {{currentUser.username}}
        </span>
        <button mat-raised-button class="nav-button" (click)="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          {{'logout' | translate}}
        </button>
      </div>

      <div fxFlex="15%">
        <button mat-raised-button class="nav-button" [matMenuTriggerFor]="languageMenu">
          {{currentLang | uppercase}}
        </button>
      </div>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/create" routerLinkActive="active">
          {{ 'createEvent' | translate}}
        </button>
      </mat-menu>

      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="changeLanguage('en')">
          <span>English</span>
        </button>
        <button mat-menu-item (click)="changeLanguage('sk')">
          <span>Slovensky</span>
        </button>
        <button mat-menu-item (click)="changeLanguage('pl')">
          <span>Polski</span>
        </button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
</div>

AHOJ {{ currentUser.username }}
